.products {
  margin-top: 150px;
}
.productGrid {
  display: grid;
  width: 80%;
  margin-left: 20%;
  grid-template-columns: repeat(3, 1fr);
}
.productContainer p {
  max-width: 400px;
  text-align: center;
}
.productContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.productContainer > img {
  min-width: 200px;
  min-width: 200px;
  max-height: 200px;
  max-height: 200px;
}
.mrp {
  text-decoration: line-through;
}
.productContainer>div>div {
    display: flex;
    justify-content: space-between;
}
.productContainer>div {
  max-height: 320px;
  max-height: 320px;
}
.toogleSideBar{
    height: 30px;
    font-size: larger;
    background-color: teal;
    border: none;
    top: 100px;
    left: 40%;
    width: 100px;
    display: none;
    position: fixed;
}
.display{
    /* display: none; */
    background-color: red;
}
.productContainer button {
  width: 100%;
  height: 40px;
  background-color: black;
  color: white;
  cursor: pointer;
  font-size: larger;
}

.sidebar{
    width: 18%;
    height: 70vh;
    position: fixed;
    top: 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.sidebar input,.sidebar select{
    width: 80%;
    height: 30px;
}

@media only screen and (max-width: 1100px) {
  .productGrid {
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    margin: auto;
  }
  .sidebar{
    width: 100%;
    background-color: #fff;
    display: none;
  }
  .toogleSideBar{
    display: block;
    position: fixed;
}
}

@media only screen and (max-width: 700px) {
  .productGrid {
    grid-template-columns: repeat(1, 1fr);
    width: 90%;
  }
  .sidebar{
    width: 100%;
    background-color: #fff;
    display: none;
  }
  .toogleSideBar{
    display: block;
    position: fixed;
}
}
